body {
    background-color: rgb(234, 234, 234);
    margin: 0 auto;
}
.header {
    margin-top: 40px;
    a{
        display: flex;
        justify-content: center;
        img{
            width: 1000px;
            height: 288px;
        }
    }
    nav{
        background-color: rgb(255, 217, 0);
        margin: 0px auto 0px auto;
        width: 1000px;
        .carrito{
            cursor: pointer;
            font-size: 30px;
            margin: 5px 0px 5px 600px;
            display: flex;
            align-items: center;
            text-decoration: none;
        }
        ul{
            margin: 0;
            height: 40px;
            display: flex;
            align-items: center;
            list-style: none;
            
            li{
                margin-right: 10px;
                a{
                    text-decoration: none;
                    color: rgba(0, 0, 0, 0.754);
                    font-size: 15px;
                    &:hover{
                        color: rgb(255, 255, 255);
                    }
                }
            }
        }
    }
}

.slider-container {
    width: 1000px;
    margin: auto;
    overflow: hidden;
    position: relative;
    background-color: rgb(0, 0, 0);
    h1{
        display: flex;
        justify-content: center;
        color: white;
        font-size: 32px
    }
}
.slider-img {
    width: 100%;
    display: none;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
}
.prev {
    left: 10px;
    color: white;
}
.next {
    right: 10px;
    color: white;
}


// cards compra

.contenido-tienda{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 40px;
    background-color: rgb(0, 0, 0);
    max-width: 1000px;
    
}
.cards{
    max-width: 300px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    
    h2{
        color: rgb(0, 0, 0);
        font-size: 22px;
    }
    button{
        border: none;
        outline: 0;
        padding: 14px;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 217, 0);
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 22px;
    }
    img{
        width: 80%;
        height: 240px;
        margin-top: 20px;
    }
}

.modal-contenido{
    max-width: 1000px;
    margin: 0 auto;
    width: 80%;
    max-width: 88vh;
    color: white;
    background-color: rgb(44, 44, 44);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    overflow: hidden;
    z-index: 9;
    top:39.5vh;
    left: 55vh;
    scrollbar-color: none;
}

.modal-header{
    display: flex;
    justify-content: space-around;
    background-color: rgb(37, 37, 37);
    color: white;
    max-width: 1000px;
    width: 100%;
    .modal-header-titulo{
        justify-self: start;
    }
    .button-modal{
        cursor: pointer;
    }
}
.total-contenido{
    font-size: 25px;
    background-color: rgb(37, 37, 37);
    width: 100%;
    padding: 10px 13px 13px 13px;
    text-align: center;
}
.carrito-contenido{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 1000px;
    width: 70%;
    margin: 10px;
    img{
        height: 140px;
        width: 170px;
    }
}